# Taller 3: Estadística Descriptiva

En este taller se usara un Dataset de un ejemplo de simulacion.Donde se buscaraAplicar estadística descriptiva para caracterizar el comportamiento de llegadas de clientes.


**Parámetros:**
-  **Jornada**: 8 horas diarias
-  **Período**: 15 días laborales  
-  **Total**: 120 períodos horarios
-  **Simulación**: 1 réplica (Monte Carlo con distribución de Poisson)

In [2]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Primero veremos que datos tomaremos del Dataset.

In [ ]:
df = pd.read_excel('Ejemplo replicas.xlsx',sheet_name='Replicas',header=14)

#SIMULACION es la llegada de los clientes
#DIA los dias 
#PERIODOS (1 hora) es el periodo horario de cada dia 
#ACUMULADO es el total de clientes que han llegado hasta ese dia

df_d = df[['DIA', 'PERIODOS (1 hora)', 'SIMULACION', 'ACUMULADO']].copy()

#df_d = df[['DIA', 'PERIODOS (1 hora)', 'SIMULACION', 'ACUMULADO']].copy()


df_d['DIA'] = df_d['DIA'].ffill()


df_d = df_d[pd.to_numeric(df_d['SIMULACION'], errors='coerce').notna()]


df_d['DIA'] = df_d['DIA'].astype(int)
df_d['PERIODOS (1 hora)'] = df_d['PERIODOS (1 hora)'].astype(int)
df_d['SIMULACION'] = pd.to_numeric(df_d['SIMULACION'], errors='coerce').astype(int)

# ACUMULADO: rellenar hacia abajo y convertir a entero nullable
df_d['ACUMULADO'] = df_d['ACUMULADO'].ffill().astype('Int64')


df_d.head()

   DIA  PERIODOS (1 hora)  SIMULACION  ACUMULADO
0    1                  1           0         32
1    1                  2           1         32
2    1                  3           4         32
3    1                  4           8         32
4    1                  5           4         32